.pai {
  background-color: blue;
  height: 500px;

}

.um {
  background-color: red;
  width: 90%;
  margin-left: 10px;

}

.dois {
  background-color: yellow;
  width: 90%;
  margin-left: 10px;
  position: sticky;
  top: 15px;
}

.tres {
  background-color: green;
  width: 90%;
  margin-left:10px;
}
